In [1]:
import mysql.connector  #importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)
db = database.cursor() 
db.execute("CREATE DATABASE pythonsclass8am")

DatabaseError: 1007 (HY000): Can't create database 'pythonsclass8am'; database exists

In [3]:
import mysql.connector  #importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="pythonclass8am"
)
db = database.cursor() 
db.execute("SELECT * FROM students")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 89, 450, 'A', 90.0)
(2, 'shyam', 78, 89, 70, 80, 450, 'A', 80.0)
(3, 'nabin', 78, 89, 78, 89, 456, 'B', 70.0)
(4, 'nabin', 78, 89, 78, 89, 456, 'B', 70.0)

In [4]:
db.execute("SELECT SN,Name FROM students")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram')
(2, 'shyam')
(3, 'nabin')
(4, 'nabin')

In [5]:
db.execute("SELECT * FROM students WHERE grade='A' ")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 89, 450, 'A', 90.0)
(2, 'shyam', 78, 89, 70, 80, 450, 'A', 80.0)

In [6]:
sql="INSERT INTO `students` (`SN`, `Name`, `english`, `physics`, `chemistry`, `nepali`, `total`, `grade`, `percentage`) VALUES ('4', 'nabin', '78', '89', '78', '89', '456', 'B', '70.0')"
db.execute(sql)
database.commit()
print("db.rowcount, record inserted,")

IntegrityError: 1062 (23000): Duplicate entry '4' for key 'PRIMARY'

In [7]:
n=int(input("enter n="))
for i in range(1,n+1):
    Name=input("enter any Name=")
    english=int(input("enter any english="))
    physics=int(input("enter any physics="))
    chemistry=int(input("enter any chemistry="))
    nepali=int(input("enter any nepali="))
    total=sum([english,physics,chemistry,nepali])
    percentage=total/4
    if percentage>=80:
        grade='A'
    elif percentage>=60:
        grade='B'
    elif percentage>=50:
        grade='c'
    else:
        grade='F'
    sql=f"INSERT INTO `students` (`Name`, `english`, `physics`, `chemistry`, `nepali`, `total`, `grade`, `percentage`) VALUES ('{Name}', '{english}', '{physics}', '{chemistry}', '{nepali}', '{total}', '{grade}', '{percentage}')"
    db.execute(sql)
    database.commit()

enter n=2
enter any Name=rita
enter any english=7
enter any physics=8
enter any chemistry=9
enter any nepali=4
enter any Name=gita
enter any english=56
enter any physics=78
enter any chemistry=45
enter any nepali=67

In [8]:
db.execute("SELECT *FROM students WHERE total>400")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 89, 450, 'A', 90.0)
(2, 'shyam', 78, 89, 70, 80, 450, 'A', 80.0)
(3, 'nabin', 78, 89, 78, 89, 456, 'B', 70.0)
(4, 'nabin', 78, 89, 78, 89, 456, 'B', 70.0)

In [9]:
sql="UPDATE students SET name='harry'WHERE SN=4"
db.execute(sql)
database.commit()

In [11]:
sql="DELETE FROM students WHERE grade='F'"
db.execute(sql)
database.commit()