In [1]:
a={'ram':9806789}
print(type(a))

<class 'dict'>

In [2]:
a={"ram":"rtyu","rtyguit":"yyyu"}
print(a)

{'ram': 'rtyu', 'rtyguit': 'yyyu'}

In [3]:
a={'ram': 'rtyu', 'rtyguit': 'yyyu'}
len(a)

2

In [4]:
a={"A":"rtyu","B":"yyyu"}
a["B"]="bat"
print(a)

{'A': 'rtyu', 'B': 'bat'}

In [5]:
a={"A":"rtyu","B":"yyyu"}
a["b"]="bat"
print(a)

{'A': 'rtyu', 'B': 'yyyu', 'b': 'bat'}

In [7]:
a=dict()
a[1]="ram"
a[2]="shyam"
print(a)

{1: 'ram', 2: 'shyam'}

In [8]:
a=dict()
n=int(input("enter n="))
for i in range (n):
    name=input("enter any value")
    number=int(input("enter any value"))
    a[name]=number
print(a)

enter n=2
enter any valuetara
enter any value678900
enter any valuetyuo
enter any value7890
{'tara': 678900, 'tyuo': 7890}

In [9]:
a={'tara': 678900, 'tyuo': 7890}
for i in a:
    print(i)

tara
tyuo

In [12]:
a={'tara': 678900, 'tyuo': 7890}
for i in a.items():
    print(i)

('tara', 678900)
('tyuo', 7890)

In [13]:
a={'tara': 678900, 'tyuo': 7890}
for i in a.values():
    print(i)

678900
7890

In [21]:
a=[]
b={'tara': 678900, 'tyuo': 7890}
for i in b.items():
    a.append(i)
print(a)

[('tara', 678900), ('tyuo', 7890)]

In [24]:
d=[('tara', 678900), ('tyuo', 7890)]
dict(d)

{'tara': 678900, 'tyuo': 7890}

In [26]:
a={'tara': 678900, 'tyuo': 7890}
a["hari"]=98076655
print(a)

{'tara': 678900, 'tyuo': 7890, 'hari': 98076655}

In [29]:
a={'tara': 678900, 'tyuo': 7890}
b={"hari":98076655}
a.update(b)
print(a)

{'tara': 678900, 'tyuo': 7890, 'hari': 98076655}

In [31]:
a={'tara': 678900, 'tyuo': 7890, 'hari': 98076655}
del a['tara']
a

{'tyuo': 7890, 'hari': 98076655}

In [34]:
a={'tyuo': 7890, 'hari': 98076655}
b=a.pop('hari')
print(a)
b

{'tyuo': 7890}

98076655

In [3]:
info={}
n=int(input("enter n="))
for i in range (1,n+1):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter any add=")
    info[i]= [name,age,add]
    
print(info)

enter n=2
enter name=rr
enter age=34
enter any add=thy
enter name=gv
enter age=4
enter any add=rr
{1: ['rr', 34, 'thy'], 2: ['gv', 4, 'rr']}

In [4]:

a=dict()
n=int(input("enter n="))
for i in range (n):
    name=input("enter any value")
    ntc=int(input("enter any value"))
    ncl=int(input("enter any value"))
    a[name]=[ntc,ncl]
print(a)

enter n=1
enter any valuety
enter any value890
enter any value890
{'ty': [890, 890]}

In [8]:
a={'ty': [890, 890]}
a['ty'][0]=7890
a

{'ty': [7890, 890]}

In [11]:
a={'ty': [890, 890]}
print(a['ty'][0])

890

In [5]:
a=dict()
n=int(input("enter n="))
for i in range (1,n+1):
    name=input("enter any name=")
    physics_th=int(input("enter any value  for physics th="))
    physics_pr=int(input("enter any value for physics pr="))
    chemistry_th=int(input("enter any value for chemistry th="))
    chemistry_pr=int(input("enter any value for chemistry pr="))
    math=int(input("enter any value for math="))
    english=int(input("enter any value for english="))
    c={"name":name,"physics":{"th":physics_th,"pr":physics_pr},"chemistry":{"th":chemistry_th,"pr":chemistry_pr},"math":math,"english":english}
    a[i]=c
print(a)

enter n=2
enter any name=fhhkws
enter any value  for physics th=7
enter any value for physics pr=8
enter any value for chemistry th6
enter any value for chemistry pr=8
enter any value for math=67
enter any value for english=90
enter any name=89
enter any value  for physics th=56
enter any value for physics pr=78
enter any value for chemistry th89
enter any value for chemistry pr=78
enter any value for math=789
enter any value for english=789
{1: {'name': 'fhhkws', 'physics': {'th': 7, 'pr': 8}, 'chemistry': {'th': 6, 'pr': 8}, 'math': 67, 'english': 90}, 2: {'name': '89', 'physics': {'th': 56, 'pr': 78}, 'chemistry': {'th': 89, 'pr': 78}, 'math': 789, 'english': 789}}