In [2]:
a=["apple","ball","cat"]
print(a[0])

apple

In [2]:
a=["apple","ball"]
a.insert(1,"sita")
a

['apple', 'sita', 'ball']

In [4]:
a=["apple","ball"]
a.append("sita")
a

['apple', 'ball', 'sita']

In [3]:
a=["apple","ball"]
b=["taray","sita"]
c=a.extend("/n")
c

In [2]:
#updating value 
a=[] 
def update():
    n=int(input("enter n="))
    for i in range (n):
        name=input("enter name=")
        price=int(input("enter price="))
        quantity=int(input("enter quantity="))
        total=price *quantity
        x=[name,price,quantity,total]
        a.append(x)
    print(a)

    selection=int(input("enter choice:"))
    if selection==1:
                        k=int(input("enter update value for price="))
                        
                        for i in range (len(a)):     
                            a[i][1]=k
                            a[i][3]=a[i][1]*a[i][2]
                        print(a)
                            
                      
                             
                               
    elif selection==2:
                        l=int(input("enter the update value for quantity="))
                    
                        for i in range(len(a)):  
                            a[i][2]=l
                            a[i][3]=a[i][1]*a[i][2]
                                
                        print(a)
                            
    elif selection==3:
                            quit()
           
    else:
                             print("enter exit") 
    x=input("enter y =")
    if x=='y':
                             update()
            
        
                
update()

enter n=2
enter name=u
enter price=9
enter quantity=6
enter name=hgfh
enter price=7
enter quantity=4
[['u', 9, 6, 54], ['hgfh', 7, 4, 28]]
enter choice:1
enter update value for price=6789
[['u', 6789, 6, 40734], ['hgfh', 6789, 4, 27156]]
enter y =y
enter n=0
[['u', 6789, 6, 40734], ['hgfh', 6789, 4, 27156]]
enter choice:3
enter y =y
enter n=0
[['u', 6789, 6, 40734], ['hgfh', 6789, 4, 27156]]
enter choice:3
enter y =i

a=[['hari',200,3,600]]
b=print(type(a))
print(b)

In [2]:
a=["apple","ball","cat","elephant","eagle"]
print(a[4])

eagle

In [5]:
a=["apple","ball","cat","elephant","eagle"]
print(a[0:4])

['apple', 'ball', 'cat', 'elephant']

In [6]:
a=["apple","ball","cat","elephant","eagle"]
b=["ear","nose",1,2]
c=a+b
print(c)

['apple', 'ball', 'cat', 'elephant', 'eagle', 'ear', 'nose', 1, 2]

In [2]:
a=["apple","ball","cat","elephant","eagle"]

c=a*2
print(c)

['apple', 'ball', 'cat', 'elephant', 'eagle', 'apple', 'ball', 'cat', 'elephant', 'eagle']

In [7]:
a=["apple","ball","cat","elephant","eagle"]
a[1]="banana"
print(a)

['apple', 'banana', 'cat', 'elephant', 'eagle']

In [ ]:
a=[]
n=int(input("enter n="))
for i in range (n):
    name=input("enter name=")
    address=input("enter address=")
    number=int(input("enter no="))
    x=a+[name,address,number]
    
    print(x)

In [2]:
a=list()
n=int(input("enter n="))
for i in range (n):
    name=input("enter name=")
    a=a+[name]
    
print(a)

enter n=3
enter name=dhh
enter name=chc
enter name=cbc
['dhh', 'chc', 'cbc']

In [9]:
a=list()
n=int(input("enter n="))
for i in range (n):
    x=int(input("enter x="))
    a=a+[x]
print(a)
print("the value of sum is=",sum(a))
print("the max  =",max(a))
print("the min =",min(a))
print("the average=",sum(a)/n)
a.sort()

enter n=2
enter x=88
enter x=99
[88, 99]
the value of sum is= 187
the max  = 99
the min = 88
the average= 93.5

In [10]:
a=['dhh', 'chc', 'cbc']
del a[0]
a

['chc', 'cbc']

In [23]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita','Shyam']
name = input("Enter name = ")
for i in a:
    if i == name:
        a.remove('Hari')
print(a)

Enter name = Hari
['Ram Prasad', 'Shyam', 'Sita', 'Gita', 'Shyam']

In [7]:
m=[]
r=int(input("enter any value r="))
c=int(input("enter any value c="))
for i in range(r):
        x=[]
        for j  in range(c):
            y=int(input("enter any value y="))
            x.append(y)
       
        m.append(x)
print(m)

enter any value r=3
enter any value c=3
enter any value y=6
enter any value y=6
enter any value y=6
enter any value y=6
enter any value y=6
enter any value y=6
enter any value y=6
enter any value y=6
enter any value y=6
[[6, 6, 6], [6, 6, 6], [6, 6, 6]]

In [ ]:
m = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    x=[]
    for j in range(c):
        y=int(input("enter y="))
        x.append(y)

In [ ]:
import random
for i in range(100):
    
    
    num1=random.randint(1,100)
    print(num1,end="")
    userschoice=int(input("enter number of users choice="))
    
    if num1 is userschoice:
            print("you win")
            break
    else:
            print("you lose")

80

In [3]:
a=[]
n=int(input("enter n="))
for i in range (n):
        name=input("enter name=")
        price=int(input("enter price="))
        quantity=int(input("enter quantity="))
        total=price *quantity
        x=[name,price,quantity,total]
        a.append(x)
    print(a)
    select=int(input("enter choice:"))
def edit():
    if select==1:
        l=int(input("enter update value for price="))
        i=0
        while i<len(a):
            a[i][1]=l
            a[i][3]=a[i][1]*a[i][2]
            print(a)
            i=i+1
            
    elif select==2:
        m=int(input("enter update for quantity="))
        i=0
        while i<len(a):
            a[i][2]=m
            a[i][3]=a[i][1]*a[i][2]
            print(a)
            i=i+1
        
    else:
        quit()
    x=input("enter continue for y=") 
    if x=='y':
        edit()
edit()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

##