In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(10):
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [13]:
for i in range(1,5):
    print(i,"rashmee")

1 rashmee
2 rashmee
3 rashmee
4 rashmee

In [14]:
for i in range(1,5,3): #i=1,i>5,i++
    print(i,"hello")

1 hello
4 hello

In [4]:
#5*1=5
n=int(input("enter any value"))
for i in range(0,10):
    print(n*i)

enter any value2
0
2
4
6
8
10
12
14
16
18

In [19]:
n=int(input("enter any value"))
for i in range(1,5):
    print(n,"*",i,"=",n*i)

enter any value3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

In [29]:
s=0
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
print(s)

enter n=5
enter x=234
enter x=345
enter x=234
enter x=5
enter x=423
1241

In [1]:
#fibonacci series
s=0
n=int(input("enter any value n="))
for i in range(1,5):
    s=s+n
print(s)

enter any value n=5
25

In [ ]:
#wap to make program to illustrate given number n their average value of it..
s=0
n=int(input("enter any value n="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
    print(s)

enter any value n=5
enter x=5
5
enter x=5
10
enter x=5
15

In [ ]:
s=''
n=input("enter any name n=")
for i in range(5):
    x=input("enter name x=")
    s=s+x
    print(s)

enter any name n=rr
enter name x=t
t
enter name x=hh
thh

In [6]:
s=''
grand_total=0
n=int(input("enter n="))
for i in range(n):
        name=input("enter any name=")
        price=int(input("enter any price="))
        quantity=int(input("enter any quantity="))
        total= price * quantity
        
        info=name+" "+str(price)+" "+str(quantity)+" "+str(total)
        s=s+info+"\n"
        grand_total=grand_total+total
print(s)
print(grand_total)

enter n=1
enter any name=hvh
enter any price=222222222
enter any quantity=222222
hvh 222222222 222222 49382666617284

49382666617284

In [7]:
a="python"
for i in a:
    print(i)

p
y
t
h
o
n

In [15]:
s=''
n=int(input("enter n="))
for i in range(n):
    name= input("enter name=")
    phone_no=int(input("enter phone_no="))
    info= name+" "+str(phone_no)
    s= s+""+info+"\n"
print(s)

enter n=2
enter name=rasu
enter phone_no=789
enter name=rt
enter phone_no=789
rasu 789
rt 789

In [2]:
#factorial

fac=1
n=int(input("enter n= "))
for i in range(1,n+1):
    fac=fac*i
    
print(fac)

enter n= 6
720

In [15]:

n=int(input("enter n="))
for i in range(0,101):
    
    
    print(i)

enter n=10
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
#fibonacci series using while loop
#0,1,1,2,3,5,8
n=int(input("enter n="))
a=0
b=1
c=0
i=0

while(i<= n):
    a=b
    b=c
    c=a+b
    print(c,end=",")
    i=i+1

enter n=10
1,1,2,3,5,8,13,21,34,55,89,

#####

#####