In [1]:
a=('rasmi','parbin')
type(a)

tuple

In [2]:
a=('rasmi','ram','shyam','ram')
n=len(a)
name=input("enter name=")
for i in range(n):
        if a[i]==name:
            print(i)

enter name=ram
1
3

In [10]:
a=('rasmi','ram','shyam','ram')
n=len(a)
name=input("enter name=")
for i in range(n):
        x=a.count(name)
        print("yes",x)

enter name=rasmi
yes 1
yes 1
yes 1
yes 1

In [11]:
a=tuple()
n=int(input("enter n="))
for i in range (n):
    x=input("enterx=")
    a=a+(x,)
    print(a)

enter n=2
enterx=67
('67',)
enterx=67
('67', '67')

In [22]:
a=[('rasmi','ram','shyam','ram'),('sita','ram','ukal','tyo')]
for i in  a:
    del a[0]
    print(a)

[('sita', 'ram', 'ukal', 'tyo')]

In [28]:
c = []
a = (('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'))
for i in  a:
    x=list(i)
    c.append(x)
print(c)

[['Ram', 34, 'Kathmansu'], ['Shyam', 23, 'Patan']]

In [4]:
a=tuple()
n=int(input("enter n="))
for i in range (n):
    name=input("enter name=")
    address=int(input("enter address="))
    x=(name,address)
    a=a+(x,)

print(a)

enter n=2
enter name=gc
enter address=44
enter name=hchc
enter address=55
(('gc', 44), ('hchc', 55))